<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>OBS | Admin Home</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
<style>
    body {
        background-color: lightgray
    }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" style="color: dimgray" href="#"><h4>Online Banking System</h4></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/home}">Home</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">User</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" th:href="@{/user/resource/create/user}">Create</a>
                    <a class="dropdown-item" th:href="@{/user/resource/user/all}">All Users</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Transaction</a>
                <div class="dropdown-menu" aria-labelledby="dropdown02">
                    <a class="dropdown-item" th:href="@{/transaction/resource/user/card/transaction}">Card Account</a>
                    <a class="dropdown-item" th:href="@{/transaction/resource/user/passive/transaction}">Passive Account</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:href="@{/notification/resource/get/all}">Notifications</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Settings</a>
                <div class="dropdown-menu" aria-labelledby="dropdown03">
                    <a class="dropdown-item" th:href="@{/logout}" method="post"
                       sec:authorize="isAuthenticated()">Logout</a>
                </div>
            </li>

        </ul>

    </div>
</nav>

<br>
<br>

<div class="container main">
    <div class="row">
        <div class="col-md-6">
            <h3>Accept or Reject transaction!</h3>
            <form th:action="@{/transaction/resource/accepted/rejected}" th:object="${cardTransactionDto}" method="post">
                <input type="hidden" name="id" th:field="*{id}"/>

                <div class="form-group">
                    <label>Type</label>
                    <input th:field="*{type}" readonly="true"  class="form-control" name="type" id="type"
                           required="true"/>
                </div>

                <div class="form-group">
                    <label>Description</label>
                    <input th:field="*{description}" readonly="true" class="form-control" name="description" id="description"
                           required="true"/>
                </div>

                <div class="form-group">
                    <label>Sender</label>
                    <input th:field="*{senderAccountNumber}" readonly="true" class="form-control" name="senderAccountNumber"
                           id="senderAccountNumber" required="true"/>
                </div>

                <div class="form-group">
                    <label>Receiver</label>
                    <input th:field="*{receiverAccountNumber}" readonly="true" class="form-control" name="receiverAccountNumber"
                           id="receiverAccountNumber" required="true"/>
                </div>

                <div class="form-group">
                    <label >Date</label>
                    <input th:value="${#dates.format(cardTransactionDto.date,'yyyy/MM/dd HH:mm')}" readonly="true" class="form-control" name="date" id="date"
                           required="true"/>
                </div>

                <div class="form-group">
                    <label>Amount</label>
                    <input th:field="*{amount}" readonly="true" class="form-control" name="amount" id="amount"
                           required="true"/>
                </div>

                <div class="form-group">
                    <label>Available Balance</label>
                    <input th:field="*{availableBalance}" readonly="true" class="form-control" name="availableBalance"
                           id="availableBalance" required="true"/>
                </div>

                <div class="form-group">
                    <label>Status</label>
                    <select class="form-control" th:value="${cardTransactionDto.status}" name="status" id="status"
                            required="true">
                        <option disabled="disabled"  selected="selected">Pending</option>
                        <option>Accepted</option>
                        <option>Rejected</option>
                    </select>
                    <small class="text-danger" th:each="err: ${#fields.errors('status')}"
                           th:text="${err}"></small>
                    <br/>
                </div>
                <input type="hidden" name="cardAccount" th:field="*{cardAccount}"/>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
            </form>

            <div class="col-md-6">
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>




