<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>OBS | Card Account</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">

    <!-- DataTable CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">

    <!-- DataTable js -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

</head>

<body>

<style>
    body {
        background-color: lightgray
    }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" style="color: dimgray" href="#"><h4>Online Banking System</h4></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" th:href="@{/user/home}">Home</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Accounts</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" th:href="@{/card/account/details}">Card Account</a>
                    <a class="dropdown-item" th:href="@{/passive/account/details}">Passive Account</a>

                </div>
            </li>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Transaction</a>
                <div class="dropdown-menu" aria-labelledby="dropdown02">
                    <a class="dropdown-item" th:href="@{/transaction/deposit}">Deposit</a>
                    <a class="dropdown-item" th:href="@{/transaction/withdraw}">Withdraw</a>
                    <a class="dropdown-item" th:href="@{/transaction/own/accounts}">Own accounts</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:href="@{/notification/get/all}">Notifications</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Settings</a>
                <div class="dropdown-menu" aria-labelledby="dropdown03">
                    <a class="dropdown-item" th:href="@{/logout}" method="post"
                       sec:authorize="isAuthenticated()">Logout</a>
                </div>
            </li>

        </ul>
    </div>
</nav>

<br>
<br>

<div class="container main">
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="card border-info mb-3" style="max-width: 18rem;">
                <!--                <div class="card-header">Card Account</div>-->
                <div class="card-header">
                    <a th:href="@{/card/account/details}">
                        <span></span> Card Account </a>
                </div>

                <div class="card-body">
                    <h5 class="card-text">Balance: <span th:text="${cardAccount.accountBalance}"></span></h5>
                    <p></p>
                    <h5><span th:text="${cardAccount.accountNumber}"></span></h5>
                </div>
            </div>
        </div>
    </div>

    <br>


    <div class="table-responsive">

        <div th:if="${process == 'SUCCESS'}">
            <div class="alert alert-success" role="alert"
                 th:utext="${pw_success}">...
            </div>
        </div>

        <div th:if="${process == 'ERROR'}">
            <div class="alert alert-danger" role="alert"
                 th:utext="${pw_error}">...
            </div>
        </div>

        <table id="example" class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th>Post Date</th>
                <th>Description</th>
                <th>Type</th>
                <th>Sender</th>
                <th>Receiver</th>
                <th>Status</th>
                <th>Amount</th>
                <th>Balance</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${cardTransactionList.isEmpty()}">
                <td class="text-center" colspan="9">No transaction</td>
            </tr>
            <tr data-th-each="cardTransaction : ${cardTransactionList}">
                <td data-th-text="${cardTransaction.date}">...</td>
                <td data-th-text="${cardTransaction.description}">...</td>
                <td data-th-text="${cardTransaction.type}">...</td>
                <td data-th-text="${cardTransaction.senderAccountNumber}">...</td>
                <td data-th-text="${cardTransaction.receiverAccountNumber}">...</td>
                <td data-th-text="${cardTransaction.status}">...</td>
                <td><a data-th-text="${cardTransaction.amount}"
                       th:href="@{/transaction/depositOrWithdraw/edit/{id}(id=${cardTransaction.id})}">...</a></td>

                <td data-th-text="${cardTransaction.availableBalance}">...</td>
                <td>
                    <a th:href="@{/transaction/delete/{id}(id=${cardTransaction.id})}"
                       class="modDel" id="deleteButton">delete
                        <!--                        <i class="fas fa-trash"></i>-->
                    </a>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>


<!--#Modal for transaction removing -->
<div class="modal fade" id="removeModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="removeModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="removeModalCenterTitle">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="alert alert-danger">
                    Are You sure You want to cancel this Transaction?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Oh,No!</button>
                <a href="" class="btn btn-danger" id="delRef">Yes!</a>
            </div>
        </div>
    </div>
</div>
<!--form end-->
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });

    $(document).ready(function () {
        $(".modDel").on('click', function (event) {
            event.preventDefault();
            let href = $(this).attr('href');
            $('#removeModalCenter #delRef').attr('href', href);
            $('#removeModalCenter').modal();
        });
    });
</script>

<!-- Optional JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>

