<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>OBS | Card Transaction</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">

    <!-- DataTable CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">

    <!-- DataTable js -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

</head>

<body>

<style>
    body {
        background-color: lightgray
    }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" style="color: dimgray" href="#"><h4>Online Banking System</h4></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/home}">Home</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">User</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" th:href="@{/user/resource/create/user}">Create</a>
                    <a class="dropdown-item" th:href="@{/user/resource/user/all}">All Users</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Transaction</a>
                <div class="dropdown-menu" aria-labelledby="dropdown02">
                    <a class="dropdown-item" th:href="@{/transaction/resource/user/card/transaction}">Card Account</a>
                    <a class="dropdown-item" th:href="@{/transaction/resource/user/passive/transaction}">Passive Account</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:href="@{/notification/resource/get/all}">Notifications</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Settings</a>
                <div class="dropdown-menu" aria-labelledby="dropdown03">
                    <a class="dropdown-item" th:href="@{/logout}" method="post"
                       sec:authorize="isAuthenticated()">Logout</a>
                </div>
            </li>
        </ul>

    </div>
</nav>

<br>
<br>
<br>

<div class="container main">
    <div class="table-responsive">

        <div th:if="${process == 'SUCCESS'}">
            <div class="alert alert-success" role="alert"
                 th:utext="${pw_success}">...
            </div>
        </div>

        <div th:if="${process == 'ERROR'}">
            <div class="alert alert-danger" role="alert"
                 th:utext="${pw_error}">...
            </div>
        </div>

        <table id="example" class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th>Post Date</th>
                <th>Description</th>
                <th>Type</th>
                <th>Sender</th>
                <th>Receiver</th>
                <th>Status</th>
                <th>Amount</th>
                <th>Balance</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${cardTransactionList.isEmpty()}">
                <td class="text-center" colspan="9">No transaction</td>
            </tr>
            <tr data-th-each="cardTransaction : ${cardTransactionList}">
                <td data-th-text="${cardTransaction.date}">...</td>
                <td data-th-text="${cardTransaction.description}">...</td>
                <td data-th-text="${cardTransaction.type}">...</td>
                <td data-th-text="${cardTransaction.senderAccountNumber}">...</td>
                <td data-th-text="${cardTransaction.receiverAccountNumber}">...</td>
                <td><a data-th-text="${cardTransaction.status}" th:href="@{/transaction/resource/accept/reject/{id}(id=${cardTransaction.id})}">...</a></td>
                <td data-th-text="${cardTransaction.amount}">...</td>
                <td data-th-text="${cardTransaction.availableBalance}">...</td>

            </tr>

            </tbody>
        </table>
    </div>
</div>


<script>

    $(document).ready(function () {
        $('#example').DataTable();
    });

</script>

<!-- Optional JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>

