<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title >OBS | Error</title>
    <meta charset="utf-8" />

</head>
<style>

    body { background-color:#F7F7F7;   }
    .error-template {padding: 40px 15px;text-align: center; margin-top:20%;}
    .error-actions {margin-top:15px;margin-bottom:15px;}
    .error-actions .btn { margin-right:10px; }

</style>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>Oops!</h1>
                <h2 th:text="${errorMessage}"></h2>
                <div class="error-actions">

                    <a href="admin_home.html"  sec:authorize="hasAnyRole( 'ADMIN')"
                       th:href="@{/admin/home}" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home">
                    </span>Take Me Back </a>
                </div>

                <div class="error-actions">

                    <a href="user_home.html"  sec:authorize="hasAnyRole( 'USER')"
                       th:href="@{/user/home}" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home">
                    </span>Take Me Back </a>
                </div>


            </div>
        </div>
    </div>
</div>

</body>
</html>
