<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title >OBS | Error</title>
    <meta charset="utf-8" />

</head>
<style>

    body { background-color:#F7F7F7;   }
    .error-template {padding: 40px 15px;text-align: center; margin-top:20%;}
    .error-actions {margin-top:15px;margin-bottom:15px;}
    .error-actions .btn { margin-right:10px; }

</style>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>Oops!</h1>
                <h2 th:text="${errorMessage}"></h2>
                <div class="error-actions">
                    <a href="index.html"  th:href="@{/login}" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home">
                    </span>Take Me Home </a>
                </div>

            </div>
        </div>
    </div>
</div>

</body>
</html>
