<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>OBS | Welcome!</title>
    <meta charset="utf-8">
    <meta name="description" content="Simple Online Banking System">
    <meta name="author" content="Ofelya Shahbazyan">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"/>
</head>
<body>
<style>

    #title_index {
        margin-top: 20%;
    }

    body {
        background: #06A
    }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div sec:authorize="isAnonymous()">
            <ul class="navbar-nav">
                <li class="active">
                    <a th:href="@{/}" class="navbar-brand">Home</a>
                    <a th:href="@{/login}" class="navbar-brand">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="nav-md">
    <div id="title_index">
        <h1 align="center">Welcome!</h1>
        <h1 align="center">Online Banking System</h1>
    </div>
</div>

</body>
</html>
