<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>OBS | Notifications</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">

    <!-- DataTable CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">

    <!-- DataTable js -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

</head>

<body>

<style>
    body {
        background-color: lightgray
    }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" style="color: dimgray" href="#"><h4>Online Banking System</h4></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a href="admin_home.html"  sec:authorize="hasAnyRole( 'ADMIN')"
                   th:href="@{/admin/home}" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="user_home.html"  sec:authorize="hasAnyRole( 'USER')"
                   th:href="@{/user/home}" class="nav-link">Home</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" sec:authorize="hasAnyRole( 'ADMIN')" id="dropdown01" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">User</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" sec:authorize="hasAnyRole( 'ADMIN')" th:href="@{/user/resource/create/user}">Create</a>
                    <a class="dropdown-item" sec:authorize="hasAnyRole( 'ADMIN')" th:href="@{/user/resource/user/all}">All Users</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" sec:authorize="hasAnyRole( 'ADMIN')"
                   id="dropdown02" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Transaction</a>
                <div class="dropdown-menu" aria-labelledby="dropdown02">
                    <a class="dropdown-item" sec:authorize="hasAnyRole( 'ADMIN')" th:href="@{/transaction/resource/user/card/transaction}">Card Account</a>
                    <a class="dropdown-item" sec:authorize="hasAnyRole( 'ADMIN')" th:href="@{/transaction/resource/user/passive/transaction}">Passive Account</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" sec:authorize="hasAnyRole( 'USER')" id="dropdown03" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Accounts</a>
                <div class="dropdown-menu" aria-labelledby="dropdown03">
                    <a class="dropdown-item" sec:authorize="hasAnyRole( 'USER')" th:href="@{/card/account/details}">Card Account</a>
                    <a class="dropdown-item" sec:authorize="hasAnyRole( 'USER')" th:href="@{/passive/account/details}">Passive Account</a>

                </div>
            </li>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" sec:authorize="hasAnyRole( 'USER')" id="dropdown04" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Transaction</a>
                <div class="dropdown-menu" aria-labelledby="dropdown04">
                    <a class="dropdown-item" sec:authorize="hasAnyRole( 'USER')" th:href="@{/transaction/deposit}">Deposit</a>
                    <a class="dropdown-item" sec:authorize="hasAnyRole( 'USER')" th:href="@{/transaction/withdraw}">Withdraw</a>
                    <a class="dropdown-item" sec:authorize="hasAnyRole( 'USER')" th:href="@{/transaction/own/accounts}">Own accounts</a>
                </div>
            </li>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Settings</a>
                <div class="dropdown-menu" aria-labelledby="dropdown05">
                    <a class="dropdown-item" th:href="@{/logout}" method="post"
                       sec:authorize="isAuthenticated()">Logout</a>
                </div>
            </li>

        </ul>

    </div>
</nav>

<br>
<br>
<br>

<div class="container main">
    <div class="table-responsive">
        <table id="example" class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th>Created Date</th>
                <th>Message</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${notifications.isEmpty()}">
                <td class="text-center" colspan="11">No notifications</td>
            </tr>
            <tr data-th-each="notification : ${notifications}">
                <td data-th-text="${notification.createdDate}">...</td>
                <td data-th-text="${notification.message}">...</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<script>

    $(document).ready(function () {
        $('#example').DataTable();
    });

</script>

<!-- Optional JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>

