<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>OBS | Passive Account</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">

    <!-- DataTable CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">

    <!-- DataTable js -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

</head>

<body>

<style>
    body {
        background-color: lightgray
    }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" style="color: dimgray" href="#"><h4>Online Banking System</h4></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" th:href="@{/user/home}">Home</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Accounts</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" th:href="@{/card/account/details}">Card Account</a>
                    <a class="dropdown-item" th:href="@{/passive/account/details}">Passive Account</a>

                </div>
            </li>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Transaction</a>
                <div class="dropdown-menu" aria-labelledby="dropdown02">
                    <a class="dropdown-item" th:href="@{/transaction/deposit}">Deposit</a>
                    <a class="dropdown-item" th:href="@{/transaction/withdraw}">Withdraw</a>
                    <a class="dropdown-item" th:href="@{/transaction/own/accounts}">Own accounts</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:href="@{/notification/get/all}">Notifications</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Settings</a>
                <div class="dropdown-menu" aria-labelledby="dropdown03">
                    <a class="dropdown-item" th:href="@{/logout}" method="post"
                       sec:authorize="isAuthenticated()">Logout</a>
                </div>
            </li>

        </ul>
    </div>
</nav>

<br>
<br>
<br>

<div class="container main">
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="card border-info mb-3" style="max-width: 18rem;">
<!--                <div class="card-header">Passive Account</div>-->
                <div class="card-header">
                    <a th:href="@{/passive/account/details}">
                        <span></span> Passive Account </a>
                </div>

                <div class="card-body">
                    <h5 class="card-text">Balance: <span th:text="${passiveAccount.accountBalance}"></span></h5>
                    <p></p>
                    <h5><span th:text="${passiveAccount.accountNumber}"></span></h5>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="table-responsive">
        <table id="example" class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th>Post Date</th>
                <th>Description</th>
                <th>Type</th>
                <th>Sender Account</th>
                <th>Receiver Account</th>
                <th>Status</th>
                <th>Amount</th>
                <th>Available Balance</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${passiveTransactionList.isEmpty()}">
                <td class="text-center" colspan="8">No transaction</td>
            </tr>
            <tr data-th-each="passiveTransaction : ${passiveTransactionList}">
                <td data-th-text="${passiveTransaction.date}">...</td>
                <td data-th-text="${passiveTransaction.description}">...</td>
                <td data-th-text="${passiveTransaction.type}">...</td>
                <td data-th-text="${passiveTransaction.senderAccountNumber}">...</td>
                <td data-th-text="${passiveTransaction.receiverAccountNumber}">...</td>
                <td data-th-text="${passiveTransaction.status}">...</td>
                <td data-th-text="${passiveTransaction.amount}">...</td>
                <td data-th-text="${passiveTransaction.availableBalance}">...</td>
            </tr>

            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>

<!-- Optional JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>

