<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>OBS | Create User</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">


</head>
<style>
    body {
        background-color: lightgray
    }

    .main {
        margin-top: 70px;
    }

    hr {
        width: 10%;
        color: #fff;
    }

    label {
        margin-bottom: 15px;
    }

    input,
    input::-webkit-input-placeholder {
        font-size: 11px;
        padding-top: 3px;
    }

    .main-login {
        background-color: #fff;
        /* shadows and rounded borders */
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

    }

    .main-center {
        margin-top: 30px;
        margin: 0 auto;
        max-width: 330px;
        padding: 40px 40px;
    }
</style>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" style="color: dimgray" href="#"><h4>Online Banking System</h4></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/home}">Home</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">User</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" th:href="@{/user/resource/create/user}">Create</a>
                    <a class="dropdown-item" th:href="@{/user/resource/user/all}">All Users</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Transaction</a>
                <div class="dropdown-menu" aria-labelledby="dropdown02">
                    <a class="dropdown-item" th:href="@{/transaction/resource/user/card/transaction}">Card Account</a>
                    <a class="dropdown-item" th:href="@{/transaction/resource/user/passive/transaction}">Passive Account</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:href="@{/notification/resource/get/all}">Notifications</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Settings</a>
                <div class="dropdown-menu" aria-labelledby="dropdown03">
                    <a class="dropdown-item" th:href="@{/logout}" method="post"
                       sec:authorize="isAuthenticated()">Logout</a>
                </div>
            </li>


        </ul>
    </div>
</nav>


<body>

<div class="container main">
    <div class="row">
        <div class="col-md-6">
            <h3>Create User</h3>
            <form th:action="@{/user/resource/save/user}" th:object="${user}" method="post">
                <!--                <input type="hidden" name="id" th:value="${recipient.id}" />-->

                <div class="form-group">
                    <input type="text" th:field="*{firstName}" required="true"
                           placeholder="firstName" class="form-control"/>
                    <small class="text-danger" th:each="err: ${#fields.errors('firstName')}"
                           th:text="${err}"></small>
                </div>

                <div class="form-group">
                    <input type="text" th:field="*{lastName}" required="true"
                           placeholder="lastName" class="form-control"/>
                    <small class="text-danger" th:each="err: ${#fields.errors('lastName')}"
                           th:text="${err}"></small>
                </div>

                <div class="form-group">
                    <input type="email" th:field="*{email}" required="true"
                           placeholder="email" class="form-control"/>
                    <small class="text-danger" th:each="err: ${#fields.errors('email')}"
                           th:text="${err}"></small>
                </div>

                <div class="form-group">
                    <input type="password" th:field="*{password}" required="true"
                           placeholder="password" class="form-control"/>
                    <small class="text-danger" th:each="err: ${#fields.errors('password')}"
                           th:text="${err}"></small>
                </div>

                <div class="form-group">
                    <input type="password" th:field="*{matchingPassword}" required="true"
                           placeholder="matchingPassword" class="form-control"/>
                    <small class="text-danger" th:each="err: ${#fields.errors('matchingPassword')}"
                           th:text="${err}"></small>
                </div>

                <div class="form-group">
                    <input type="text" th:field="*{username}" required="true"
                           placeholder="username" class="form-control"/>
                    <small class="text-danger" th:each="err: ${#fields.errors('username')}"
                           th:text="${err}"></small>
                </div>

                <div class="form-group">
                    <input type="text" th:field="*{phone}" required="true"
                           placeholder="phone" class="form-control"/>
                    <small class="text-danger" th:each="err: ${#fields.errors('phone')}"
                           th:text="${err}"></small>
                </div>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
            </form>

            <div class="col-md-6">
            </div>
        </div>
    </div>
</div>


<!-- Optional JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

</body>
</html>











